<!DOCTYPE html>
<html>
<head>
  <title>Harborside</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<nav class="navbar navbar-default" role="navigation">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= image_tag "harborside.png" %></li> 
          <li class="dropdown top-nav">
          <a href class="dropdown-toggle" data-toggle="dropdown">EXPLORE</a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropwdown-menu-item"><%= link_to "Art", explore_art_path %></li>
            <li class="dropwdown-menu-item"><%= link_to "Music", explore_music_path %></li>
            <li class="dropwdown-menu-item"><%= link_to "Food", explore_food_path %></li>
            <li class="dropwdown-menu-item"><%= link_to "People", explore_people_path %></li>
            <li class="dropwdown-menu-item"><%= link_to "Press", explore_press_path %></li>
          </ul>
        </li>
        <li class="dropdown top-nav">
          <a href class="dropdown-toggle" data-toggle="dropdown">Lease Now</a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropwdown-menu-item"><%= link_to "Office", lease_office_path %></li>
            <li class="dropwdown-menu-item"><%= link_to "NYC Views", lease_views_path %></li>
            <li class="dropwdown-menu-item"><%= link_to "Retail", lease_retail_path %></li>
            <li class="dropwdown-menu-item"><%= link_to "Incentives", lease_incentives_path %></li>
          </ul>
        </li> 
        <li class="top-nav" ><%= link_to "Live Now", live_index_path %></li>
        <li class="top-nav"><%= link_to "Arrive Now", arrive_index_path %></li>
   

                
       
        <li class="top-nav"><%= link_to "Contact Now", contact_index_path %></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
    </nav>
<body>


<div class="page-wrap">
  <%= yield %>
</div>

</body>


  <nav class="navbar-default navbar-fixed-bottom">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "HARBORSIDE NOW", lease_index_path %></li>
        <li class="dropdown">
          <ul class="footer">

            <li><%= link_to "LEASE NOW", lease_index_path %></li>
            <li><%= link_to "Office", lease_office_path %></li>
            <li><%= link_to "NYC Views", lease_views_path %></li>
            <li><%= link_to "Retail", lease_retail_path %></li>
            <li><%= link_to "Incentives", lease_incentives_path %></li>
          </ul>
        </li> 
        <li ><%= link_to "LIVE NOW", live_index_path %></li>
        <li ><%= link_to "ARRIVE NOW", arrive_index_path %></li>
        <li>
          <ul class="footer">
            <li><%= link_to "EXPLORE NOW", explore_index_path %></li>
            <li><%= link_to "Art", explore_art_path %></li>
            <li><%= link_to "Music", explore_music_path %></li>
            <li><%= link_to "Food", explore_food_path %></li>
            <li><%= link_to "People", explore_people_path %></li>
            <li><%= link_to "Press", explore_press_path %></li>
          </ul>
        </li>
        <li><%= link_to "CONTACT NOW", contact_index_path %></li>
        
      </ul>
      <ul class="navbar-right nav navbar-nav social-nav">
       <li class="social">SOCIAL</li>
       <li><%= link_to (image_tag "icon-facebook.png"), "https://www.facebook.com/MackCaliRC" %></li>
       <li><%= link_to (image_tag "icon-twitter.png"), "https://twitter.com/MackCaliProp" %></li>
       <li><%= link_to (image_tag "icon-plus.png"), "https://plus.google.com/111389280462388744063/posts " %></li>
       <li><%= link_to (image_tag "icon-instagram.png"), "http://instagram.com/harborsidejc
" %></li>
       <li><%= link_to (image_tag "icon-linkedin.png"), "https://www.linkedin.com/company/104717?trk=tyah&trkInfo=tarId%3A1409705871606%2Ctas%3Amack-cali%2Cidx%3A2-1-6" %></li>
       <!-- <li><%= link_to (image_tag "icon-tumblr.png"), "" %></li> -->
       <li><%= link_to (image_tag "icon-pintrest.png"), "http://www.pinterest.com/harborsidejc/be-here-now/
" %></li>


      </ul>
    </div><!-- /.navbar-collapse -->
    </nav>

</html>
